## Group 4 - Lab Exercise 3

**This file is only used for describing what does the raw data look like and guides us how to process it.**
**It is not intended to be included in the data pipelines**

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Loading the data
df_branch_service = pd.read_json("branch_service_transaction_info.json")
df_customer_transaction = pd.read_json("customer_transaction_info.json")
df_merged = pd.merge(df_customer_transaction, df_branch_service)

# **Data Profiling and Validation**

## Looking at the Raw Data

using .sample() for randomized lookup

In [3]:
df_branch_service.sample(10)

           txn_id branch_name    service      price
112426  TXN-30172    Megamall  HairColor   88.09393
29463   TXN-01733  MallOfAsia    FootSpa    0.00000
114865  TXN-26062     MayMall  NailColor   30.12379
120015  TXN-21698     MayMall  NailColor   30.12379
46122   TXN-45964        None    FootSpa  100.12123
44297   TXN-02815  MallOfAsia    FootSpa  100.12123
124098  TXN-63641    Megamall   Manicure   55.23240
7279    TXN-06709  MallOfAsia  NailColor        NaN
67948   TXN-28622   SmallMall  NailColor   30.12379
24541   TXN-24652    Megamall  NailColor    0.00000

In [4]:
df_customer_transaction.sample(10)

           txn_id  avail_date        last_name      first_name    birthday
112469  TXN-49229  2026-02-01            Hauck            Alia  1998-06-20
59751   TXN-61860  2025-05-25          Shields          Junius  2002-09-12
99943   TXN-59207  2028-11-21              Toy          Hadley  1996-03-22
96247   TXN-64621  2008-10-04       Hodkiewicz           Lilla  2002-05-24
77906   TXN-24046  2005-06-04    Blick,,,,,,,,  Jeromy........  2000-09-05
82737   TXN-18617  2017-01-25          Osinski            Rory  1997-07-23
103466  TXN-64511  2024-04-16         Shanahan          Amalia  2009-04-10
38982   TXN-32891  2017-03-08           little            esta  2005-08-17
94192   TXN-53625  2021-12-05          Pacocha         Gerhard  2010-07-11
13850   TXN-43496  2011-08-03           REMPEL          DARRIN  1994-01-25

## Checking for Duplicates

.shape to get row and column count

In [5]:
print(df_branch_service.shape)
print(df_customer_transaction.shape)

(130653, 4)
(130653, 5)

to count unique txn_id, use .nunique()

In [6]:
print(df_branch_service['txn_id'].nunique())
print(df_customer_transaction['txn_id'].nunique())

62354
62354

difference between the original and unique txn_id row count means that there are **duplicate rows**

## Checking for Empty Values

checking null values count per column

In [7]:
df_branch_service.isnull().sum()

txn_id             0
branch_name    10308
service            0
price          20000
dtype: int64

In [8]:
df_customer_transaction.isnull().sum()

txn_id        0
avail_date    0
last_name     0
first_name    0
birthday      0
dtype: int64

branch_name and price have null values

### Empty Values of branch_name Column

look at the possible values of branch_name

In [9]:
df_branch_service['branch_name'].unique()

array(['MallOfAsia', 'Starmall', 'SmallMall', 'MayMall', 'FrankMall',
       'Megamall', 'RobinsonsMall', '', None, 'N/A'], dtype=object)

two types of empty value in the branch_name column: '' & None ('N/A' not considered as empty since it has a different meaning)

Let '' also be null so that we can use one fill method for both of the possible empty values

Can fill the empty values up via forward fill or backward fill

In [10]:
df_branch_service['branch_name'] = df_branch_service['branch_name'].ffill().bfill()

### Empty Values of price Column

since there are empty values on a numerical column, it is best to mean fill its empty values

look at the price mean, the group mean from service, and the group mean from branch_name & service

In [11]:
df_branch_service['price'].describe()

count    110653.000000
mean         95.966969
std         115.874117
min           0.000000
25%          30.123790
50%          66.123457
75%          88.093930
max         400.231230
Name: price, dtype: float64

In [12]:
df_branch_service.groupby(['service'])['price'].describe()

,count,mean,std,min,25%,50%,75%,max
service,,,,,,,,
FootSpa,15835.0,82.240407,38.348651,0.0,100.121230,100.121230,100.121230,100.121230
HairColor,15768.0,72.143386,33.923432,0.0,88.093930,88.093930,88.093930,88.093930
Haircut,15394.0,54.306799,25.333112,0.0,66.123457,66.123457,66.123457,66.123457
Manicure,15676.0,45.275347,21.232941,0.0,55.232400,55.232400,55.232400,55.232400
NailColor,16207.0,24.369285,11.842374,0.0,30.123790,30.123790,30.123790,30.123790
Pedicure,15830.0,64.503900,29.492902,0.0,77.987989,77.987989,77.987989,77.987989
Rebond,15943.0,327.254238,154.542965,0.0,400.231230,400.231230,400.231230,400.231230

In [13]:
df_branch_service.groupby(['branch_name', 'service'])['price'].describe()

                        count        mean         std  min         25%  \
branch_name service
            FootSpa      56.0   82.242439   38.692762  0.0  100.121230
            HairColor    48.0   71.576318   34.748015  0.0   88.093930
            Haircut    1786.0   53.239379   26.197797  0.0   66.123457
            Manicure     66.0   49.374418   17.137217  0.0   55.232400
            Pedicure     57.0   67.042306   27.329980  0.0   77.987989
...                       ...         ...         ...  ...         ...
Starmall    Haircut    1859.0   54.243288   25.392248  0.0   66.123457
            Manicure   2260.0   45.456754   21.084730  0.0   55.232400
            NailColor  1972.0   24.257900   11.931738  0.0   30.123790
            Pedicure   2209.0   64.431000   29.561562  0.0   77.987989
            Rebond     2262.0  328.040982  153.921518  0.0  400.231230

                              50%         75%         max
branch_name service
            FootSpa    100.121230  100.121230  100.121230
            HairColor   88.093930   88.093930   88.093930
            Haircut     66.123457   66.123457   66.123457
            Manicure    55.232400   55.232400   55.232400
            Pedicure    77.987989   77.987989   77.987989
...                           ...         ...         ...
Starmall    Haircut     66.123457   66.123457   66.123457
            Manicure    55.232400   55.232400   55.232400
            NailColor   30.123790   30.123790   30.123790
            Pedicure    77.987989   77.987989   77.987989
            Rebond     400.231230  400.231230  400.231230

[61 rows x 8 columns]

it is best to use the group mean from branch_name and service to accurately fill up null values in the specific group

## Standardizing Data

### Dates

In [14]:
print(df_merged['avail_date'].describe)
print(df_merged['birthday'].describe)

<bound method NDFrame.describe of 0         2030-09-08
1         2030-09-08
2         2012-04-03
3         2012-04-03
4         2026-05-26
             ...
404182    2025-01-05
404183    2025-01-05
404184    2025-01-05
404185    2025-01-05
404186    2025-01-05
Name: avail_date, Length: 404187, dtype: object>
<bound method NDFrame.describe of 0         1990-07-08
1         1990-07-08
2         1999-04-08
3         1999-04-08
4         2000-11-26
             ...
404182    1993-01-10
404183    1993-01-10
404184    1993-01-10
404185    1993-01-10
404186    1993-01-10
Name: birthday, Length: 404187, dtype: object>

currently the two dates in our data is in object data type, convert it to datetime data type

In [15]:
df_merged['avail_date'] = pd.to_datetime(df_merged['avail_date'], format='%Y-%m-%d')
df_merged['birthday'] = pd.to_datetime(df_merged['birthday'], format='%Y-%m-%d')

There are certain rows that are **impossible** to happen looking at our dates columns:

In [16]:
print(df_merged['avail_date'].max())

2030-12-30 00:00:00

dates that are **later than the current date** are invalid and should be removed

In [17]:
from datetime import date
today = str(date.today())
df_merged = df_merged[(df_merged['avail_date'] <= today) & (df_merged['birthday'] <= today)]

avail_date that happens **before** the birthday are also invalid and should be removed

In [18]:
df_merged = df_merged[(df_merged['avail_date'] > df_merged['birthday'])]

### first_name & last_name

The name columns have values that contains special characters. Values in it also does not stick with one format

In [19]:
df_merged.sample(20)

,txn_id,avail_date,last_name,first_name,birthday,branch_name,service,price
164750,TXN-34289,2017-03-07,WITTING,DION,2002-05-12,MayMall,Rebond,400.231230
174359,TXN-42588,2011-02-10,JACOBSON,ZETTA,1997-07-21,Starmall,Haircut,NaN
97218,TXN-38503,2012-03-11,McDermott,Winfield,2001-10-14,RobinsonsMall,Rebond,400.231230
284442,TXN-51335,2022-11-23,"Wuckert,,,,,,,,",Magali........,1991-05-19,FrankMall,Haircut,66.123457
309083,TXN-50971,2012-01-23,"Green,,,,,,,,",Geovanni........,2004-02-03,None,Pedicure,77.987989
42241,TXN-14251,2021-04-11,LEBSACK,BARTON,1992-12-29,SmallMall,Pedicure,NaN
174771,TXN-17092,2020-12-24,Douglas,Cathy,2009-10-26,MayMall,NailColor,30.123790
324324,TXN-60176,2008-01-29,"Steuber,,,,,,,,",Shawn........,2007-08-29,Megamall,NailColor,30.123790
142878,TXN-08455,2022-05-23,ROGAHN,BRENDEN,2000-03-02,MallOfAsia,Rebond,400.231230
109966,TXN-36004,2020-03-13,Ziemann,Citlalli,1996-09-03,Megamall,HairColor,88.093930
213400,TXN-42837,2006-05-03,schaefer,judson,1993-07-19,Megamall,Rebond,0.000000
349128,TXN-58508,2021-02-23,Shanahan,Uriel,1991-09-01,SmallMall,Pedicure,77.987989
106792,TXN-55348,2007-03-30,KEEBLER,ELISABETH,1994-07-19,RobinsonsMall,Pedicure,77.987989
11508,TXN-26819,2015-07-30,BOYER,GRACIELA,1991-06-15,SmallMall,Haircut,66.123457
146054,TXN-01904,2012-08-17,SCHUSTER,KARL,1993-11-24,MayMall,Haircut,NaN
305135,TXN-32209,2005-11-23,"Runte,,,,,,,,",Edwina........,1995-08-26,RobinsonsMall,Haircut,66.123457
241358,TXN-05710,2017-12-07,Auer,Wiley,2006-07-01,MallOfAsia,Pedicure,77.987989
221762,TXN-41328,2007-12-28,ryan,octavia,2003-11-02,Megamall,Manicure,0.000000
326752,TXN-62742,2013-08-03,Fahey,Pearlie,2010-06-28,Megamall,NailColor,30.123790
53023,TXN-16221,2014-07-28,JACOBSON,RUBYE,1990-03-10,MallOfAsia,Haircut,NaN

only allow letters in this columns and stick to one format (e.g. all uppercase)

### price

The price column has too many decimal places and does not really represent how most monetary systems work. Round up to two decimal places.

In [20]:
df_merged['price'] = df_merged['price'].round(2)

### Ingesting dataframe to POSTGRESQL

Installation:
    - pip install psycopg2,
    - pip install psycopg2-binary

In [21]:
import psycopg2
from psycopg2 import sql
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

In [22]:
dbname = "postgres"
user ="postgres"
password ="1425"
host = "localhost"
port = "5432"

conn = psycopg2.connect(dbname=dbname, user=user, password=password, host=host, port=port)
conn.autocommit = True

cur = conn.cursor()

cur.execute(sql.SQL("CREATE DATABASE {}").format(sql.Identifier("Transaction")))

conn.commit()

cur.close()
conn.close()

In [23]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://postgres:1425@localhost:5432/Transaction')

df_merged.to_sql('txn', con=engine, if_exists='replace', index=False)

759

In [24]:
df_merged.sample(10)

,txn_id,avail_date,last_name,first_name,birthday,branch_name,service,price
29949,TXN-10365,2020-06-24,Moore,Casimer,1993-06-21,MallOfAsia,Haircut,66.12
290153,TXN-28174,2016-05-04,"Wolff,,,,,,,,",Magdalena........,2001-03-10,SmallMall,Manicure,55.23
395483,TXN-23708,2023-04-28,Schroeder,Ian,2000-08-18,MallOfAsia,Haircut,66.12
217167,TXN-21243,2020-10-28,boyer,braxton,1990-12-18,MayMall,NailColor,0.00
879,TXN-56854,2014-02-24,DACH,KORY,2008-09-21,SmallMall,Manicure,55.23
285139,TXN-60642,2006-08-23,"Lindgren,,,,,,,,",Mara........,1994-09-25,MallOfAsia,NailColor,30.12
124821,TXN-40973,2019-09-22,Hagenes,Linnea,2004-12-25,Starmall,Haircut,NaN
188505,TXN-04684,2006-06-11,raynor,clarabelle,2000-02-05,SmallMall,NailColor,0.00
182407,TXN-30885,2013-02-07,funk,ines,2002-03-11,MayMall,FootSpa,0.00
305203,TXN-15406,2011-07-22,"Heidenreich,,,,,,,,",Maci........,2006-08-03,SmallMall,FootSpa,100.12